OPENROUTER_API_KEY='add your openrouter api key here'
EXA_SEARCH_API_KEY='add your exa search api key here'
TAVILY_API_KEY='add your tavily api key here'
SEARCH_PROVIDER='exa' # Options: 'exa' | 'tavily' | 'both'